.background {
  position: sticky;
  top: 0;
  width: 450px;
  height: 300px;
  color: rgb(0, 0, 0);
  z-index: 1;
}

.box1 {
  float: left;
  width: 390px; 
  height: 100px;
  background-color: rgb(251, 251, 251);
  color: rgb(0, 0, 0);
  border: 0.5px solid rgb(155, 155, 155);
  padding: 15px;
  box-shadow: 3px 3px 5px rgb(63, 63, 63);
  z-index: 3;
  overflow-x: hidden; 
  overflow-y: scroll; 
  border-radius: 3px;
  top: 50%; 
  left: 50%; 
  transform: translate(0%,-25%);
}

.box1 img { 
  float: left; 
  border: 0.5px solid black; 
} 

.gradientbox {
  float: left;
  width: 20px;
  height: 130px;
  background-image: linear-gradient(220deg, rgb(196, 0, 0), rgb(255, 143, 143));
  z-index: 2;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgb(63, 63, 63);
}

.globe {
  position: sticky;
  float: right; 
  top: 50%;
  left: 50%; 
  transform: translate(-30%,-460%);
  cursor: pointer;
}

.airplane {
  position: sticky;
  float: right;  
  top: 50%;
  left: 50%; 
  transform: translate(-20%,-460%);
  cursor: pointer;
}

.settings {
  position: sticky;
  float: right;
  top: 50%; 
  left: 50%; 
  transform: translate(-10%,-460%);
  cursor: pointer;
}
